@import '../../styles/mixins';

.home-test-page {

  height: 100%;

  .ball-fractal-container {
    height: 100%;
  }

  .ball {
    $ball-diameter: 200px;
    height: $ball-diameter;
    width: $ball-diameter;
    border-radius: $ball-diameter / 2; 
    background-color: #8645bf;
    position: absolute;
  }

}

.ball-svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0,0,0);

  circle {
    will-change: transform;
  }
}